<div class="">
  <div class="row gap-3">
      {% for g in groups %}
        <div class="col-6">
            <div class="card library-artist-card" class="card" href="/kiosk/library?group={{ g.name }}" data-action="click->navigation#load">
                <div class="card-body">
                    <h2 class="card-title mb-0">
                        <i class="mdi mdi-account-music me-2"></i>
                        <strong>{{ g.name|e }}</strong>
                    </h2>
                    <i class="mdi mdi-chevron-right chevron-icon"></i>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
</div>
