<div class="nfc-client-card">
    <div class="nfc-client-icon">
        <i class="mdi mdi-nfc-variant"></i>
    </div>
    <div class="nfc-client-info" 
        
        data-navigation-url-value="/kiosk/nfc?album_id={{ album_id }}&album_name={{ album_name|e }}&client_id={{ client.client_id }}&client_name={{ client.user_name|e }}"
        data-action="click->navigation#injectClientId"
    >
        <p class="nfc-client-name">{{ client.user_name }}</p>
        <p class="nfc-client-type">{{ client.client_type }}</p>
        <p class="nfc-client-type">{{ client.client_id }}</p>
        <p class="nfc-client-type">{{ initiating_client_id }}</p>
        
    </div>
</div>

