<!-- Kiosk Media Controls (100px height) -->
<div class="kiosk-controls d-flex justify-content-evenly align-items-center">
    
    <button data-action="click->playercontrols#previous" class="btn btn-primary btn-media-control" title="Previous Track">
        <i class="mdi mdi-skip-previous"></i>
    </button>
    <button data-action="click->playercontrols#playPause" class="btn btn-primary btn-media-control" title="Play/Pause">
        <i class="mdi mdi-play-pause"></i>
    </button>
    <button data-action="click->playercontrols#next" class="btn btn-primary btn-media-control" title="Next Track">
        <i class="mdi mdi-skip-next"></i>
    </button>
    <button data-action="click->playercontrols#stop" class="btn btn-primary btn-media-control" title="Stop">
        <i class="mdi mdi-stop"></i>
    </button>
    <button data-action="click->playercontrols#volumeDown" class="btn btn-primary btn-media-control" title="Volume Down">
        <i class="mdi mdi-volume-medium"></i>
    </button>
    <button data-action="click->playercontrols#volumeUp" class="btn btn-primary btn-media-control" title="Volume Up">
        <i class="mdi mdi-volume-high"></i>
    </button>
</div>
