<div class="kiosk-status-bar">
    <div href="/kiosk/player" data-action="click->navigation#load" 
        class="d-flex align-items-center kiosk-breadcrumb" title="Back to Now Playing">
        <i class="mdi mdi-music-circle"></i>
        <span>Now Playing</span>
    </div>

    <div class="d-flex justify-content-end gap-2">
        <button class="kiosk-device-selector btn btn-sm" data-action="click->playercontrols#playPause" >
            <i data-nowplaying-target="playerstatus" class="mdi mdi-play"></i>
            
        </button>

        <button data-action="click->playercontrols#toggleRepeat toggle-repeat-changed@window->nowplaying#updateRepeatState" class="kiosk-device-selector btn btn-sm" >
            <i data-nowplaying-target="repeatstatus" class="mdi mdi-repeat"></i>
            
        </button>

        <button data-action="click->playercontrols#toggleMute volume_mute_response@window->nowplaying#updateMuteState" class="kiosk-device-selector btn btn-sm" >
            <i data-nowplaying-target="volumetext mutestate" class="mdi mdi-volume-high">27%</i>
            
        </button>

        <button href="/kiosk/devices" class="kiosk-device-selector btn btn-sm" data-action="click->navigation#load" data-nowplaying-target="currentdevice">
            <i class="mdi mdi-cast"></i>
            <span>Active Device</span>
        </button>
    </div>
</div>