<!-- Kiosk Volume Bar Component (Right Sidebar) -->
<div class="kiosk-volume-bar d-flex flex-column align-items-center justify-content-center h-100" data-controller="volume" 
    data-action="volume-change@window->volume#handleExternalUpdate">
     <div class="kiosk-volume-bar-track">
        <div data-volume-target="fill" class="kiosk-volume-bar-fill" style="height: 0%;"></div>
        <div class="kiosk-volume-bar-icon">
            <i class="mdi mdi-volume-high"></i>
        </div>
        <div data-volume-target="text" class="kiosk-volume-bar-text">0%</div>
    </div>
</div>